@page "/"

<section class="hero position-relative overflow-hidden p-3 p-md-5 text-center">
    <div class="px-4 py-5">
        <span class="highlight">Welcome to</span>
        <h3>JMT Electrical</h3>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">A easy choice for all your domestic electrical solutions</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-outline-primary btn-md px-4 gap-3 fw-bold">About Us</button>
                <button type="button" class="btn btn-outline-secondary btn-md px-4 fw-bold">
                    <i class="fa-sharp fa-solid fa-phone fa-lg"></i>
                    0701234567
                </button>
            </div>
        </div>
    </div>

</section>

<section class="features">
    <div class="container px-4 py-5 text-center">
        <h3>We take great pride in providing the highest standard of electrical services with a focus on reliability, honesty and safety.</h3>

        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="col">
                <div class="card bg-transparent shadow-sm">
                    <img src="/img/certificate.png" class="card-img-top mx-auto" alt="card image">
                    <div class="card-body">
                        <h5 class="card-title">FULLY QUALIFIED</h5>
                        <p class="card-text fw-bold">City & Guilds, NVQ Level 3, AM2, 18th Edition. JIB registered Approved Electrician.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card bg-transparent shadow-sm">
                    <img src="/img/wiring.png" class="card-img-top mx-auto" alt="card image">
                    <div class="card-body">
                        <h5 class="card-title">EXPERIENCED</h5>
                        <p class="card-text fw-bold">10+ years of experience in all aspects of electrical installation work.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card bg-transparent shadow-sm">
                    <img src="/img/repairing.png" class="card-img-top mx-auto" alt="card image">
                    <div class="card-body">
                        <h5 class="card-title">VERSATILE</h5>
                        <p class="card-text fw-bold">From new light fittings to full rewires, no job is too big or small.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="services" class="">
    <h1 class="display-5"></h1>
</section>



@*https://www.luroxelectrical.co.uk/*@