@page "/"

<section class="hero position-relative overflow-hidden p-3 p-md-5 text-center">
    <div class="px-4 py-5">
        <span class="highlight">Welcome to</span>
        <h3>JMT Electrical</h3>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">A easy choice for all your domestic electrical solutions</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-outline-primary btn-md px-4 gap-3 fw-bold">About Us</button>
                <button type="button" class="btn btn-outline-secondary btn-md px-4 fw-bold">
                    <i class="fa-sharp fa-solid fa-phone fa-lg"></i>
                    0701234567
                </button>
            </div>
        </div>
    </div>

</section>

<section class="features position-relative">
    <div class="container px-4 py-3 text-center">
        <div class="row g-4 row-cols-1 row-cols-lg-4">

            <div class="col">
                <div class="card shadow-sm">
                    <i class="fa-sharp fa-solid fa-map-location-dot mx-auto pt-2"></i>
                    <div class="card-body">
                        <h5 class="card-title">AREAS COVERED</h5>
                        <p class="card-text">Leicester, Coventry and Nottingham</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <i class="fa-sharp fa-solid fa-circle-check mx-auto pt-2"></i>
                    <div class="card-body">
                        <h5 class="card-title">FULLY QUALIFIED</h5>
                        <p class="card-text">City & Guilds, NVQ Level 3, AM2, 18th Edition. JIB registered Approved Electrician.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <i class="fa-solid fa-plug-circle-bolt mx-auto pt-2"></i>
                    <div class="card-body">
                        <h5 class="card-title">EXPERIENCED</h5>
                        <p class="card-text">10+ years of experience in all aspects of electrical installation work.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <i class="fa-solid fa-screwdriver-wrench mx-auto pt-2"></i>
                    <div class="card-body">
                        <h5 class="card-title">VERSATILE</h5>
                        <p class="card-text">From new light fittings to full rewires, no job is too big or small.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="custom-shape-divider-bottom-1676197177">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>
</section>


<section id="services" class="service-section">
    <div class="container px-4 py-4">
        <h3 class="display-5 text-center">Services</h3>
        <div class="seperator">
            <span class="outer-line"></span>
            <span class="fa-solid fa-bolt" aria-hidden="true"></span>
            <span class="outer-line"></span>
        </div>

        <p class="text-center">
            At JMT Electrical we specialise in all areas of domestic electrical installations including:
        </p>

        <div class="row g-2 row-cols-1 row-cols-lg-2">
            <div class="col">
                <ul class="list-group service-list-group">
                    <li class="list-group-item px-3 border-0 rounded-3 mb-2">
                        <i class="fa-solid fa-circle-check"></i>
                        A simple default list group item
                    </li>
                    <li class="list-group-item px-3 border-0 rounded-3 mb-2">
                        <i class="fa-solid fa-circle-check"></i>
                        A simple primary list group item
                    </li>
                    <li class="list-group-item px-3 border-0 rounded-3 mb-2">
                        <i class="fa-solid fa-circle-check"></i>
                        A simple secondary list group item
                    </li>
                </ul>
            </div>

            <div class="col">
                <ul class="list-group service-list-group">
                    <li class="list-group-item px-3 border-0 rounded-3 mb-2">
                        <i class="fa-solid fa-circle-check"></i>
                        A simple default list group item
                    </li>
                    <li class="list-group-item px-3 border-0 rounded-3 mb-2">
                        <i class="fa-solid fa-circle-check"></i>
                        A simple primary list group item
                    </li>
                    <li class="list-group-item px-3 border-0 rounded-3 mb-2">
                        <i class="fa-solid fa-circle-check"></i>
                        A simple secondary list group item
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section id="about" class="about-section position-relative">
    <div class="container px-4 py-4 text-center">
        <h3 class="display-5 mb-3">About Us</h3>
        <div class="row g-2 row-cols-1 row-cols-lg-2 align-items-center">
            <div class="col">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
            </div>
            <div class="col">
                <img src="/img/example.jpg" class="founder-img mb-2" alt="JMT Electrical founder" />
                <h6 class="founder-name">Jordan Tibbles <br /> Founder of JMT Electrical</h6>
            </div>
        </div>
    </div>
    <div class="custom-shape-divider-bottom-1676197177">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>
</section>

<section id="about" class="project-section position-relative">
    <div class="container px-4 py-4 text-center">
        <h3 class="display-5">Projects</h3>
        <div class="seperator">
            <span class="outer-line"></span>
            <span class="fa-solid fa-bolt" aria-hidden="true"></span>
            <span class="outer-line"></span>
        </div>

    </div>

</section>



@*https://www.luroxelectrical.co.uk/*@



@code {
    //create list a services
}