@page "/"

<section class="hero">

    <div class="px-4 py-5 text-center">
        <span class="highlight">Welcome to</span>
        <h3>JMT Electrical</h3>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">A easy choice for all your domestic electrical solutions</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-outline-primary btn-md px-4 gap-3 fw-bold">About Us</button>
                <button type="button" class="btn btn-outline-secondary btn-md px-4 fw-bold">
                    <i class="fa-sharp fa-solid fa-phone fa-lg"></i>
                    0701234567
                </button>
            </div>
        </div>
    </div>

</section>


<section class="services">
    <div class="container px-4 py-5 text-center">
        <h3>We take great pride in providing the highest standard of electrical services with a focus on reliability, honesty and safety.</h3>

        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-start">
                <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <i class="fa-solid fa-plug-circle-bolt"></i>
                </div>
                <div>
                    <h3 class="fs-2">Featured title</h3>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <i class="fa-solid fa-plug-circle-bolt"></i>
                </div>
                <div>
                    <h3 class="fs-2">Featured title</h3>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <i class="fa-solid fa-plug-circle-bolt"></i>
                </div>
                <div>
                    <h3 class="fs-2">Featured title</h3>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                </div>
            </div>
        </div>

    </div>
</section>