<div id="carouselLight" class="carousel slide" data-bs-ride="carousel">

        @*foreach loop through the amount of testimonials and create a button and a card*@
        <ol class="carousel-indicators mb-0">
            <li data-bs-target="#carouselLight" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselLight" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselLight" data-bs-slide-to="2"></li>
        </ol>

    <div class="carousel-inner pb-5">

        <div class="carousel-item active">
            <div class="row d-flex justify-content-center">
                <div class="text-center">
                    <i class="fa-solid fa-comments pt-2"></i>
                    <h5>First slide label</h5>
                    <p>
                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                    </p>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="row d-flex justify-content-center">
                <div class="text-center">
                    <i class="fa-solid fa-comments pt-2"></i>
                    <h5>Second slide label</h5>
                    <p>
                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                    </p>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="row d-flex justify-content-center">
                <div class="row d-flex justify-content-center">
                    <div class="text-center">
                        <i class="fa-solid fa-comments pt-2"></i>
                        <h5>Third slide label</h5>
                        <p>
                            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@code {

}
