<nav class="navbar navbar-expand-md bg-dark shadow-sm">
    <div class="container">

        <button class="btn-primary-outline d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExpand">
            <i class="fa-solid fa-bars fa-lg"></i>
        </button>

        <a class="d-md-none mx-auto navbar-brand" href="">
            <img height="48" role="img" src="img/logo.png" alt="JMT Logo" />
        </a>

        <div class="collapse navbar-collapse" id="navbarsExpand">

            <a class="hidden-mobile navbar-brand col-md me-0" href="">
                <img height="48" role="img" src="img/logo.png" alt="JMT Logo" />
            </a>

            <ul class="navbar-nav col-md justify-content-md-center">

                <NavLink class="nav-link px-2" href="" Match="NavLinkMatch.All">
                    <span aria-hidden="true"></span> Home
                </NavLink>

                <NavLink class="nav-link px-2" href="#services">
                    <span aria-hidden="true"></span> Services
                </NavLink>

                <NavLink class="nav-link px-2" href="#about">
                    <span aria-hidden="true"></span> About
                </NavLink>

                <NavLink class="nav-link px-2" href="#projects">
                    <span aria-hidden="true"></span> Projects
                </NavLink>

                <NavLink class="nav-link px-2" href="contact">
                    <span aria-hidden="true"></span> Contact
                </NavLink>
            </ul>
        </div>

        <div class="d-md-flex col-md justify-content-md-end">
            <a type="button" class="px-1 text-light text-decoration-none" @onclick="LaunchInstagram">
                <i class="fa-brands fa-instagram fa-lg fa-bounce"></i>
            </a>
        </div>
    </div>
</nav>
@code
{
    private void LaunchInstagram()
    {
    }
}
